# !!! WARNING: This minimal .env.example file provides a template for configuring the Remnashop.
# Full configuration options and instructions can be found in the official documentation:
# https://remnashop.mintlify.app/docs/en/install/environment-variables


# Domain through which your bot is publicly accessible.
# Used for receiving webhooks from services (e.g., Telegram, payment systems).
# !!! WARNING: Specify domain WITHOUT HTTP/HTTPS and WITHOUT trailing slash.
APP_DOMAIN=hooks.knyaka.dev

# Encryption key for securing sensitive data (e.g., payment tokens) in the database.
# !!! CRITICALLY IMPORTANT: Never share this token publicly.
APP_CRYPT_KEY=6cc697a850c5e84410d34e8cccfb454fa28953cfa168963a644b354d140c2b47b1bd9b7600055ec774c128a59ce7750e89d9457ed7358d528ad581cf7290f393

# Telegram Bot API token. Obtain it from https://t.me/BotFather/
# !!! CRITICALLY IMPORTANT: Never share this token publicly. It grants full control over your bot.
BOT_TOKEN=8780549617:AAFITye_lDOUhmlBxnQe_YUfmKDkaTGmaNA

# Secret token for webhook verification. Ensures webhook requests originate from Telegram.
BOT_SECRET_TOKEN=fc091ae81f04590268f501eb8b414bb6dc1e4e11e266d8838510558043ae3fc5d6ec0a19c657504d9e0a24e6a823435b2d2862e16e5b7e021170533eadabf870

# Owner Telegram user ID. Grants elevated permissions.
BOT_OWNER_ID=86036595

# Telegram username of the support account used for deep-linking (without @).
BOT_SUPPORT_USERNAME=knyaka

# Controls the behavior of the "connect" button:
# - empty or false  -> opens the subscription page in the browser
# - true            -> opens the subscription page in WebApp
# - URL (e.g., https://example.com/) -> opens the specified URL in WebApp
# To use the subscription page, deploy the remnawave-subscription-page:
#   https://docs.rw/docs/install/remnawave-subscription-page
# To use a custom subscription page (Orion):
#   https://github.com/legiz-ru/Orion
# To use the Mini App (Maposia):
#   https://github.com/maposia/remnawave-telegram-sub-mini-app
BOT_MINI_APP=false

# Hostname or Docker service name for connecting to the Remnawave API.
REMNAWAVE_HOST=remnawave:3000

# API token for authenticating with the Remnawave service.
REMNAWAVE_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiNjNhMjA4ODUtMTJlOS00NWE4LWFmODktZDRjMjgxOTI2MWQyIiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3NzU5MzM1ODIsImV4cCI6MTA0MTU4NDcxODJ9.y_wM2s-JttrTQq0oycxKzdxhcTubuqtLYOx9xcn6BoQ

# Secret token for verifying incoming webhooks from Remnawave.
# In the Remnawave Panel, this corresponds to WEBHOOK_SECRET_HEADER (env).
REMNAWAVE_WEBHOOK_SECRET=3bb7dcb098bc2b60a82a7d166c520cbaa7fc6da6403e95078676ebcc8c2818a704ef363eddf26b5c9e8509a338dbfa4e53a8fed7876873e2bd88e8f35b95d952

# Password for the database.
DATABASE_PASSWORD=0a8ff56cb6ad23e1ed02a808523c91eb218e8937cb15c0581dcc667f96b7e1f12854cbfc6417a8f6d3cb03b14839a1be7a8c25ec4e963ed6e5d0a7ce6410f5fa



# Optional settings with default values (uncomment and modify as needed):
# APP_HOST="0.0.0.0"
# APP_PORT=5000
# APP_LOCALES="en, ru"
# APP_DEFAULT_LOCALE="en"
# APP_ASSETS_DIR="/app/assets"
# APP_ORIGINS=""

# BOT_PROXY_URL=""
# BOT_RESET_WEBHOOK=false
# BOT_DROP_PENDING_UPDATES=false
# BOT_SETUP_COMMANDS=true
# BOT_USE_BANNERS=true

# DATABASE_HOST="remnashop-db"
# DATABASE_PORT=5432
# DATABASE_NAME="remnashop"
# DATABASE_USER="remnashop"
# DATABASE_ECHO=false
# DATABASE_ECHO_POOL=false
# DATABASE_POOL_SIZE=30
# DATABASE_MAX_OVERFLOW=30
# DATABASE_POOL_TIMEOUT=10
# DATABASE_POOL_RECYCLE=3600

# LOG_TO_FILE=true
# LOG_LEVEL="DEBUG"
# LOG_ROTATION="100MB"
# LOG_COMPRESSION="zip"
# LOG_RETENTION="3 days"

# REDIS_HOST="remnashop-redis"
# REDIS_PORT=6379
# REDIS_NAME="0"
# REDIS_PASSWORD=""

# REMNAWAVE_CADDY_TOKEN=""
# REMNAWAVE_COOKIE=""

# REMNAWAVE_CF_CLIENT_ID=""
# REMNAWAVE_CF_CLIENT_SECRET=""
